*.depend
*.layout
*bin/
*.bak
*~
*.orig
*.gch
CMakeFiles
CMakeCache.txt
cmake_install.cmake
MakeFile
build
libs/boost/
libs/libccd/
libs/windows/
libs/win32debug/
libs/win32release/
libs/linux/
__pycache__/
tests/bin/
*#
/.project
